
{% block reading %}
<div class="tarot-reading-spread">
<h2>Past, Present, Future Spread</h2>
</div>

<div class="tarot-reading-container">
  <!-- Past -->
    <div class="tarot-row">
      <div class="tarot-card-wrapper">
        <h3>Past</h3>
        {% if reading.reversals.0 %}
          <img class="tarot-img reversed" src="{{ MEDIA_URL }}{{ reading.cards.past.img }}">
          <p class="reversed-text">Reversed: {{ reading.cards.past.meaning_rev }}</p>
        {% else %}
          <img class="tarot-img" src="{{ MEDIA_URL }}{{ reading.cards.past.img }}">
          <p class="upright-text">{{ reading.cards.past.meaning_up }}</p>
        {% endif %}
        <div class="card-title">{{ reading.cards.past.name }}</div>
      </div>
  <!-- Present -->
      <div class="tarot-card-wrapper">
        <h3>Present</h3>
        {% if reading.reversals.1 %}
          <img class="tarot-img reversed" src="{{ MEDIA_URL }}{{ reading.cards.present.img }}">
          <p class="reversed-text">Reversed: {{ reading.cards.present.meaning_rev }}</p>
        {% else %}
          <img class="tarot-img" src="{{ MEDIA_URL }}{{ reading.cards.present.img }}">
          <p class="upright-text">{{ reading.cards.present.meaning_up }}</p>
        {% endif %}
        <div class="card-title">{{ reading.cards.present.name }}</div>
      </div>
  <!-- Future -->
      <div class="tarot-card-wrapper">
        <h3>Future</h3>
        {% if reading.reversals.2 %}
          <img class="tarot-img reversed" src="{{ MEDIA_URL }}{{ reading.cards.future.img }}">
          <p class="reversed-text">Reversed: {{ reading.cards.future.meaning_rev }}</p>
        {% else %}
          <img class="tarot-img" src="{{ MEDIA_URL }}{{ reading.cards.future.img }}">
          <p class="upright-text">{{ reading.cards.future.meaning_up }}</p>
        {% endif %}
        <div class="card-title">{{ reading.cards.future.name }}</div>
      </div>
    </div>
</div>
{% endblock %}
