body {
    background-image: url("/static/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    color: #fff;
    text-align: center;
    background-color: #222;
}
