{% load static %}


<div class="journal-header">
<div class="date">{{ entry.created_at }}</div>

</div>

<div class="journal-entry">
<div class="question">{{ questions.feel }}</div>
<div class="answer">{{ entry.feel }}</div>

<div class="question">{{ questions.notice }}</div>
<div class="answer">{{ entry.notice }}</div>

<div class="question">{{ questions.connect }}</div>
<div class="answer">{{ entry.connect }}</div>

<div class="question">{{ questions.context }}</div>
<div class="answer">{{ entry.context }}</div>

<div class="question">{{ questions.action }}</div>
<div class="answer">{{ entry.action }}</div>
</div>