{% extends 'tarot/base.html' %}
{% load static %}

{% block head %}
{% endblock %}



{%block header%}
<main class="px-5 mt-5">
    <h1>Get Your Tarot Reading.</h1>
    <p class="lead">
        Take a moment and let us know a little bit about whats on your mind. 
    </p>
  </main>
{% endblock %}
{% block content %}
<div class="container mt-5 center" style="width:75%">
<form action="{% url 'reading' %}" method="POST">
    {% csrf_token %}
    {{ form.as_div }}
<div class="btn"><input type="submit" value="What do the cards have to say?"></div>
</form>
</div>
{% endblock %}