{% extends 'tarot/base.html' %}

{% block head %}
<title>Your tarot reading</title>
{% endblock %}

{% block header %}
<section class="pt-3 pb-1 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">{{ name }}'s Tarot Reading</h1>
      <p class="lead text-muted">{{ question }}</p>
    </div>
  </div>
</section>
{% endblock %}

{% block content %}
<div class="row g-4 justify-content-center">

  {% for card in cards %}
  <div class="col-12 col-sm-6 col-md-4 d-flex justify-content-center">
    <div class="card shadow-sm bg-light text-dark w-100" style="max-width: 90%;">
      <h3 class="text-center mt-2">{{ card.position }}</h3>
      <img class="img-fluid d-block mx-auto"
           src="{{ MEDIA_URL }}{{ card.image }}"
           style="width: 70%; height: auto;"
           {% if card.reversed %}style="transform: rotate(180deg); width: 70%; height: auto;"{% endif %}>
        <div class="card-body">
        <h4 class="text-center">{{ card.name }}</h4>
        {% if card.reversed %}<h6 class="text-center">Reversed</h6>{% endif %}
        <p class="card-text">
          {% if not card.reversed %}{{ card.meaning_up }}{% else %}{{ card.meaning_rev }}{% endif %}
        </p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>


<!-- Full-width Interpretation -->
<div class="row mt-4">
  <div class="col-12">
    <div class="card shadow-sm bg-light text-dark p-3">
      <h3>Interpretation</h3>
      <p>{{ interpretation }}</p>
    </div>
  </div>
</div>

<div class="container mt-3 text-center">
  <a href="{% url 'home' %}" class="btn btn-secondary">Try another reading</a>
</div>
{% endblock %}
