{% extends 'base.html' %}
{% load static %}

{% block title %}Tarot Reading{% endblock %}

<section class="reading-header">
  <h1 class="reading-title">Your Tarot Reading...</h1>
  <div class="question-text">{{ reading.question }}</div>
</section>

{% block content %}

{% include layout_template %}

<!-- Interpretation-->
{% block interpretation %}
    {% include "tarot/interpretation_block.html" %}
{% endblock %}

<!--Journal Offer-->
{% block journal %}
  {% include "tarot/journal.html" %}
{% endblock %}

{% endblock %}
