{% load static %}

<!DOCTYPE html>
    <head>
        <title>{% block pagetitle %}{% endblock %} | Wayfindr</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body class="text-center text-bg-dark"; background-image="{% static 'background.png' %})">
        <header>
            {% block header %}
            {% endblock %}
        </header>

        <main>
            {% block content %}
            {% endblock %}
        </main>
    </body>

    <footer>
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"/>
    </footer>
</html>