{% extends "base.html" %}

{%block title%}Home{%endblock%}

{% block content %}
    <h2>Welcome, {{ user_name }}</h2>
    <p>This will be filled out later</p>

    
    {% if readings %}
    <div class="user-readings">
        <h3>Your Readings</h3>
        <ul>
        {% for reading in readings %}
            <li>{{ reading }}</li>
            <a href="/readings/{{ reading.id }}">View Details</a>
        {% endfor %}
        </ul>
    </div>
    {% endif %}

    <div class="user-actions">
        <h3>Actions</h3>
        <ul>
            <li><a href="/readings/new/">Get a New Reading</a></li>
        </ul>
    </div>

{% endblock %}